@import "tailwindcss";

@layer base {
  /* override Tailwind's base */
  h1 {
    font-size: larger;
    font-weight: bolder;
    padding: 1rem;
  }
}

@view-transition {
  navigation: auto;
}

.main {
  position: sticky;
  display: flex;
  z-index: 50;
  overflow: auto;

  left: 0px;
  padding: 0.5rem;
  top: 1000px;
  
  width: 100%;
  min-height: calc(4/5 * 100%);
  height: calc(4/5 * 100%);

  /* desktop */
  @media (width >= 96rem) {
    width: calc(5/6 * 100%);
    min-height: 100dvh;
    height: 100dvh;

    left: 1000px;
    padding-right: 2.5rem;

    &.peer\/wide {
      width: calc(3/4 * 100%);
    }
  }

  @media (width < 40rem) { 
    /* vertical phone */
    min-height: calc(7/8 * 100%);
    height: calc(7/8 * 100%);
  }

  /* 
    mobile: 
      width full
      height & min-height: 4/5
      less than small: height & min-height: 7/8

    desktop: 
      width-wide: 3/4 (home page)
      width: 5/6
      height: full
  */
}

.links {
  align-items: center;
  justify-content: center;

  display: block;
  width: auto;

  @media (width >= 96rem) {
    display: inline-flex;
    width: 100%;
  }

  a {
    display: flex;
    align-items: center;
    padding: 0 0.25rem;
    gap: 0.25rem;
  }
}

.hide {
  visibility: hidden;
  /* need to handle second toggle, display none instead. full web size also */
}

@layer components {
  .hide-bg {
    background-color: var(--color-stone-50);
    border-radius: 4px;
    box-shadow: 2px 2px 4px var(--color-neutral-600);
    height: min-content;

    @media (width >= 96rem) {
      background-color: unset;
      box-shadow: unset;
    }
  }

  .peer\/dark~div {
    .hide-bg {
      background-color: var(--color-neutral-800);

      @media (width >= 96rem) {
        background-color: unset;
        box-shadow: unset;
      }
    }
  }
}
