@layer base {
  /* override Tailwind's base */
  h1 {
    font-size: larger;
    font-weight: bolder;
    padding: 2rem 0;
  }
}

.main {
  position: sticky;
  left: 1000px;
  display: flex;
  min-height: 100vh;
  padding-right: 2.5rem;
}

.nav-pages {
  & > * {
    padding: .5rem 0;
  }
}

.links {
  display: inline-flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  a {
    padding: 0 .25rem;
  }
}

.hide {
  display: none;
}


/* mobile */


